:root{
    --colorWhite : #fff;
    --maincolortext : #556270;
    --colorred : #d9232d;
    --colorBlack : #000;
    --colorGray : #eee;
}
html{
    scroll-behavior: smooth;
    font-family: "Poppins", sans-serif;
}

body{
    font-family: "Poppins", sans-serif;
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
}

/*----------- statr in navbar -----------*/
nav{
    background-color: var(--colorWhite);
    z-index: 2;
}

nav .navbar-brand{
    font-weight: 600;
    font-size: 28px;
    color: var(--maincolortext);
}

nav .navbar-nav a{
    color: var(--maincolortext);
    transition: all .1s linear;
    cursor: pointer;
    text-decoration: none;
    padding: 10px;
}

.activeElement{
    color: var(--colorred);
}

nav .navbar-nav a:hover{
    color: var(--colorred);
}

nav .navbar-nav button{
    background-color: var(--colorred);
}
/*----------- statr in navbar -----------*/

/* ----------- start breadcumb ----------- */
.breadcumb{
    background-color: var(--colorGray);
    padding: 10px;
}

.breadcumb .content-ol{
    display: flex;
}

.breadcumb .content-ol ol{
    margin: auto;
}

.breadcumb ol a{
    text-decoration: none;
    color: var(--colorred);
}
/* ----------- end breadcumb ----------- */


/*----------- start in services----------- */
#services .section-title{
    text-transform: uppercase;
}

#services .section-title h2{
    font-size: 14px;
    font-weight: 500;
    line-height: 1px;
    letter-spacing: 2px;
    color: #aaaaaa;
    font-family: "Poppins", sans-serif;
    position: relative;
}

#services .section-title h2::after{
    content: "";
    background-color: var(--colorred);
    width: 10%;
    height: 2px;
    position: absolute;
    top: 0;
    bottom: 0;
}

#services .section-title p{
    font-size: 36px;
    font-weight: 700;
    font-family: "Poppins", sans-serif;
    color: #556270;
}

#services .card-services{
    background-color: var(--colorGray);
    width: 100%;
    height: 100%;
    margin: 0;
}

#services .card-services .card-body h5{
    color: var(--maincolortext);
    transition: all .1s linear;
}

#services .card-services:hover .card-body h5{
    color: var(--colorred);
}

#services .card-services .card-body p{
    line-height: 24px;
    font-size: 14px;
}
/*----------- end in services -----------*/


/*----------- start in feature----------- */
#feature .section-title{
    text-transform: uppercase;
}

#feature .section-title h2{
    font-size: 14px;
    font-weight: 500;
    line-height: 1px;
    letter-spacing: 2px;
    color: #aaaaaa;
    font-family: "Poppins", sans-serif;
    position: relative;
}

#feature .section-title h2::after{
    content: "";
    background-color: var(--colorred);
    width: 10%;
    height: 2px;
    position: absolute;
    top: 0;
    bottom: 0;
}

#feature .section-title p{
    font-size: 36px;
    font-weight: 700;
    font-family: "Poppins", sans-serif;
    color: #556270;
}

#feature ul{
    list-style: none;
}

#feature ul li{
    margin-bottom: 25px;
    transition: all .1s linear;
    cursor: pointer;
    border-right: 2px solid var(--colorred);
}

#feature ul li:hover{
    color: var(--colorred);
}

#feature .tap-content{
    position: relative;
}

#feature .tap-content .tap-pane{
    position: absolute;
    top: 0;
    left: 0;
}

.activePane{
    display: block;
}
/*----------- end in feature----------- */


/* ------------ footer -------- */
footer{
    background-color: var(--maincolortext);
    color: var(--colorWhite);
    padding-top: 50px;
}

footer h3{
    font-size: 20px;
    line-height: 2;
    font-weight: 700;
}

footer ul{
    list-style: none;
    margin: 0;
    padding: 0;
}

footer ul li{
    color: rgb(207, 203, 203);
    transition: all .1s linear;
    cursor: pointer;
    text-transform: uppercase;
    font-size: .8rem;
    line-height: 2.2;
}

footer ul li::before{
    content: ">";
    margin-right: 10px;
    
}

footer ul li:hover{
    color: var(--colorWhite);
}

footer form input[type="text"]{
    outline: none;
    border: none;
    width: 100%;
    background-color: var(--colorWhite);
}

footer form input[type="submit"]{
    margin: 0;
    padding: 0;
    outline: none;
    border: none;
    padding: 10px;
    background-color: var(--colorred);
    color: var(--colorWhite);
}

footer .copy{
    margin-top: 50px;
    background-color: #4f5b68;
}
/* ------------ footer -------- */


/* back to top */
.backToTop{
    position: fixed;
    right: 5%;
    top: 90%;
    transform: rotate(270deg);
}

.backToTop button{
    background-color: var(--colorred);
    outline: none;
    border: none;
    padding: 10px;
    color: var(--colorWhite);
    display: none;
}
/* back to top */