:root{
    --colorWhite : #fff;
    --maincolortext : #556270;
    --colorred : #d9232d;
    --colorBlack : #000;
    --colorGray : #eee;
}
html{
    scroll-behavior: smooth;
    font-family: "Poppins", sans-serif;
}

body{
    font-family: "Poppins", sans-serif;
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
}

/*----------- statr in navbar -----------*/
nav{
    background-color: var(--colorWhite);
    z-index: 2;
}

nav .navbar-brand{
    font-weight: 600;
    font-size: 28px;
    color: var(--maincolortext);
}

nav .navbar-nav a{
    color: var(--maincolortext);
    transition: all .1s linear;
    cursor: pointer;
    text-decoration: none;
    padding: 10px;
}

nav .navbar-nav a:hover{
    color: var(--colorred);
}

nav .navbar-nav button{
    background-color: var(--colorred);
}
/*----------- statr in navbar -----------*/




/*----------- start in slide----------- */
.carousel .carousel-inner{
    z-index: -3;
    /* height: 91vh; */
}

.carousel button span{
    background-color: var(--colorBlack);
    padding: 10px;
    z-index: 5;
}

.backDark{
    background-image: linear-gradient(to bottom right, var(--colorBlack), var(--colorBlack));
    z-index: -2;
}
/*----------- end in slide -----------*/



/*----------- start in about -----------*/
.abo .textOne h1{
    font-weight: 700;
    font-size: 48px;
    line-height: 60px;
    margin-bottom: 20px;
    text-transform: uppercase;
}

.about .textOne p{
    font-weight: 500;
    line-height: 32px;
    font-size: 24px;
}

.about .textTwo ul{
    list-style: none;
}
/*----------- end in about -----------*/



/*----------- start in clients -----------*/
.clients{
    background-color: #eee;
}

.clients img{
    filter: grayscale(100);
    transition: all .1s linear;
}

.clients img:hover{
    filter: none;
}
/* -----------end in clients -----------*/



/*----------- start in services----------- */
#services .section-title{
    text-transform: uppercase;
}

#services .section-title h2{
    font-size: 14px;
    font-weight: 500;
    line-height: 1px;
    letter-spacing: 2px;
    color: #aaaaaa;
    font-family: "Poppins", sans-serif;
    position: relative;
}

#services .section-title h2::after{
    content: "";
    background-color: var(--colorred);
    width: 10%;
    height: 2px;
    position: absolute;
    top: 0;
    bottom: 0;
}

#services .section-title p{
    font-size: 36px;
    font-weight: 700;
    font-family: "Poppins", sans-serif;
    color: #556270;
}

#services .card-services{
    background-color: var(--colorGray);
    width: 100%;
    height: 100%;
    margin: 0;
    transition: all .1s linear;
}

#services .card-services:hover{
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
}

#services .card-services i{
    color: #d9232d;
    font-size: 40px;
}

#services .card-services .card-body h5{
    color: var(--maincolortext);
    transition: all .1s linear;
}

#services .card-services:hover .card-body h5{
    color: var(--colorred);
}

#services .card-services .card-body p{
    line-height: 24px;
    font-size: 14px;
}
/*----------- end in services -----------*/

/* --------- portfolio ---------- */
#PORTFOLIO{
    margin-bottom: 50px;
}

#PORTFOLIO .section-title{
    text-transform: uppercase;
}

#PORTFOLIO .section-title h2{
    font-size: 14px;
    font-weight: 500;
    line-height: 1px;
    letter-spacing: 2px;
    color: #aaaaaa;
    font-family: "Poppins", sans-serif;
    position: relative;
}

#PORTFOLIO .section-title h2::after{
    content: "";
    background-color: var(--colorred);
    width: 10%;
    height: 2px;
    position: absolute;
    top: 0;
    bottom: 0;
}

#PORTFOLIO .section-title p{
    font-size: 36px;
    font-weight: 700;
    font-family: "Poppins", sans-serif;
    color: #556270;
}

#PORTFOLIO ul{
    list-style: none;
}


.filter-active{
    background-color: var(--colorred);
    color: var(--colorWhite);
}

#PORTFOLIO .choose ul li{
    cursor: pointer;
    transition: all .2s linear;
} 

#PORTFOLIO .choose ul li:hover{
    background-color: var(--colorred);
    color: var(--colorWhite);
} 

#PORTFOLIO .portfolio-img{
    width: 100%;
    margin-left: 0;
}

#PORTFOLIO .box-portfolio{
    max-width: 100%;
    margin-bottom: 10px;
}

#PORTFOLIO .box-portfolio .content-img .portfolio-wrap{
    position: absolute;
    top: 50%;
    left: 10%;  
    transform: scale(0);
    transition: all .2s linear;
}

#PORTFOLIO .box-portfolio .content-img:hover .portfolio-wrap{
    transform: scale(1);
}

#PORTFOLIO .box-portfolio .content-img .portfolio-wrap h4{
    font-size: 20px;
    color: var(--colorred);
    font-weight: 800;
}

#PORTFOLIO .box-portfolio .content-img .portfolio-wrap p{
    color: rgba(255, 255, 255, 0.7);
    font-size: 14px;
    text-transform: uppercase;
    padding: 0;
    margin: 0;
    font-style: italic;
}


#PORTFOLIO .box-portfolio .content-img .shadow{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: .4;
    transition: all .1s linear;
}

#PORTFOLIO .box-portfolio .content-img:hover .shadow{
    background-color: var(--maincolortext);
}

#PORTFOLIO .box-portfolio img{
    max-width: 100%;
}

#PORTFOLIO .portfolio-wrap {
    z-index: 1;
    width: 100%;
    height: 100%;
}
/* --------- portfolio ---------- */

/* ------------ footer -------- */
footer{
    background-color: var(--maincolortext);
    color: var(--colorWhite);
    padding-top: 50px;
}

footer h3{
    font-size: 20px;
    line-height: 2;
    font-weight: 700;
}

footer ul{
    list-style: none;
    margin: 0;
    padding: 0;
}

footer ul li{
    color: rgb(207, 203, 203);
    transition: all .1s linear;
    cursor: pointer;
    text-transform: uppercase;
    font-size: .8rem;
    line-height: 2.2;
}

footer ul li::before{
    content: ">";
    margin-right: 10px;
    
}

footer ul li:hover{
    color: var(--colorWhite);
}

footer .social-links a{
    font-size: 18px;
    display: inline-block;
    background: rgba(255, 255, 255, 0.1);
    color: #fff;
    line-height: 1;
    padding: 8px 0;
    margin-right: 4px;
    border-radius: 4px;
    text-align: center;
    width: 36px;
    height: 36px;
    transition: 0.3s;
}

footer .social-links a:hover{
    background-color: var(--colorred);
}

footer form input[type="text"]{
    outline: none;
    border: none;
    width: 100%;
    background-color: var(--colorWhite);
}

footer form input[type="submit"]{
    margin: 0;
    padding: 0;
    outline: none;
    border: none;
    padding: 10px;
    background-color: var(--colorred);
    color: var(--colorWhite);
}

footer .copy{
    margin-top: 50px;
    background-color: #4f5b68;
}
/* ------------ footer -------- */


/* back to top */
.backToTop{
    position: fixed;
    right: 5%;
    top: 90%;
    transform: rotate(270deg);
}

.backToTop button{
    background-color: var(--colorred);
    outline: none;
    border: none;
    padding: 10px;
    color: var(--colorWhite);
    display: none;
}
/* back to top */