:root{
    --colorWhite : #fff;
    --maincolortext : #556270;
    --colorred : #d9232d;
    --colorBlack : #000;
    --colorGray : #eee;
}
html{
    scroll-behavior: smooth;
    font-family: "Poppins", sans-serif;
}

body{
    font-family: "Poppins", sans-serif;
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
}

/*----------- statr in navbar -----------*/
nav{
    background-color: var(--colorWhite);
    z-index: 2;
}

nav .navbar-brand{
    font-weight: 600;
    font-size: 28px;
    color: var(--maincolortext);
}

nav .navbar-nav a{
    color: var(--maincolortext);
    transition: all .1s linear;
    cursor: pointer;
}

nav .navbar-nav a:hover{
    color: var(--colorred);
}

nav .navbar-nav button{
    background-color: var(--colorred);
}
/*----------- statr in navbar -----------*/




/*----------- start in slide----------- */
.carousel .carousel-inner{
    z-index: -3;
    /* height: 91vh; */
}

.carousel button span{
    background-color: var(--colorBlack);
    padding: 10px;
    z-index: 5;
}

.backDark{
    background-image: linear-gradient(to bottom right, var(--colorBlack), var(--colorBlack));
    z-index: -2;
}
/*----------- end in slide -----------*/



/*----------- start in about -----------*/
.abo .textOne h1{
    font-weight: 700;
    font-size: 48px;
    line-height: 60px;
    margin-bottom: 20px;
    text-transform: uppercase;
}

.about .textOne p{
    font-weight: 500;
    line-height: 32px;
    font-size: 24px;
}

.about .textTwo ul{
    list-style: none;
}
/*----------- end in about -----------*/



/*----------- start in clients -----------*/
.clients{
    background-color: #eee;
}

.clients img{
    filter: grayscale(100);
    transition: all .1s linear;
}

.clients img:hover{
    filter: none;
}
/* -----------end in clients -----------*/



/*----------- start in services----------- */
#services .section-title{
    text-transform: uppercase;
}

#services .section-title h2{
    font-size: 14px;
    font-weight: 500;
    line-height: 1px;
    letter-spacing: 2px;
    color: #aaaaaa;
    font-family: "Poppins", sans-serif;
    position: relative;
}

#services .section-title h2::after{
    content: "";
    background-color: var(--colorred);
    width: 10%;
    height: 2px;
    position: absolute;
    top: 0;
    bottom: 0;
}

#services .section-title p{
    font-size: 36px;
    font-weight: 700;
    font-family: "Poppins", sans-serif;
    color: #556270;
}

#services .card-services{
    background-color: var(--colorGray);
    width: 100%;
    height: 100%;
}

#services .card-services .card-body h5{
    color: var(--maincolortext);
    transition: all .1s linear;
}

#services .card-services:hover .card-body h5{
    color: var(--colorred);
}

#services .card-services .card-body p{
    line-height: 24px;
    font-size: 14px;
}
/*----------- end in services -----------*/

